/*
  1. Reset
  2. Global variables
  3. Global styles
  4. Keyframe declarations
*/

/* 1. Reset */
*, *::before, *::after {
  box-sizing: border-box;
}
* {
  margin: 0;
}
body {
  line-height: 1.6;
  -webkit-font-smoothing: antialiased;
}
img, picture, video, canvas, svg {
  display: block;
  max-width: 100%;
}
input, button, textarea, select {
  font: inherit;
}
p, h1, h2, h3, h4, h5, h6 {
  overflow-wrap: break-word;
}
#root, #__next {
  isolation: isolate;
}

/* 2. Global variables */
:root {
  --background: #302c2e;
  --font-color: #b6d53c;
  --terminal-color: #b6d53c;
  --error-color: #e6482e;
}

/* 3. Global styles */
body, html {
  height: 100dvh;
}

body {
    display: flex;
    justify-content: center;
    align-items: center;
    color: var(--font-color);
    background: var(--background)
}

* {
  scroll-behavior: smooth;
}

*::selection{
  background-color: var(--terminal-color);
  color: var(--background)
}

ul {
  list-style: none;
  padding-left: 0;
}

a {
  color: inherit;
  text-decoration: none;
}

a:visited {
  color: inherit;
}

a:hover{
  animation: blurOnHover 0.3s;
}

*::-webkit-scrollbar {
  position: relative;
  width: 6px;
}

*::-webkit-scrollbar-track {
  background: transparent;

}

*::-webkit-scrollbar-thumb {
  background: linear-gradient(var(--terminal-color), var(--background));
  border-radius: 20px;
}

/* 4. Keyframe declarations */
@keyframes blurOnHover {
	0% {
		filter: blur(0px);
	}

	30% {
		filter: blur(2px);
	}

	100% {
		filter: blur(0px);
	}
}