.projects {
    height: 100%;
    width: 100%;
    display: flex;
    flex-wrap: wrap;
    margin: 3.5em 0;
    align-items: center;
    justify-content: center;
    padding: 36px 12px 12px;
    overflow-y: scroll;
    gap: 60px;
}